# Introduction à Python

Pyhton est un langage de programmation qui est populaire, puissant et concis.

## Introduction

Ce document présente la programmation en Python. Partout dans le document, des exemple de code sont donnée. Voici le tout premier exemple d'une ligne de code.

In [3]:
print('hello')

hello

Cette ligne de code affiche le texte *hello* vers la console. Le code consiste de 4 éléments:

- une fonction `print`
- des parenthèses `()` qui entourent l'argument de la fonction
- des guillemets `''` qui entourent un texte
- une chaine de texte `hello`

Multiples instruction peuvent se suivre, et on appelle une séquence d'instructions un programme. Dans l'exemple suivant nous avons une suite de 3 instructions.

In [4]:
print('introduction')
print('à la programmation')
print('avec Python')

introduction
à la programmation
avec Python

## Calcul mathématique

Python peut résoudre des expréssion mathématiques. Par exemple cette addition simple

In [5]:
1 + 2

3

### Les opérations de base
Les 4 operations de base sont
- addition (`+`)
- soustraction (`-`)
- multiplication (`*`)
- division (`/`)

Nous pouvons placer plusieurs expression sur une même ligne et les séparer par des virgules. Cette séquence est appelé un **tuple**. Un tuple est délimité par des parenthèses `()` et les éléments sont séparé par des virgules.

In [8]:
1-2, 2*3, 3/4

(-1, 6, 0.75)

La division entière  (`//`) et le reste, aussi appelé modulo (`%`).

In [14]:
10//3, 10%3

(3, 1)

Les paranthèses changent la priorité

In [15]:
1 + 2 * 3, (1 + 2) * 3

(7, 9)

## Texte

A part des nombres, Python excelle dans le traitement de l'information textuelle. Une chaine de caractères est délimité par des
- guillemets simples
- guillemets doubles

Attention il ne faut pas confondre deux guillements simples `''` avec un guillement double `"`

In [11]:
'hello', "hello", "c'est"

('hello', 'hello', "c'est")

Par défaut Phython utilise les guillemets simple. Si le texte contient un guillemet simple, alors on le délimite avec des guillements doubles.

Une autre façon de marquer les guillements est de les précéder avec un barre oblique en arrière `\` (back slash).

In [14]:
print('c\'est "très" bon')

c'est "très" bon

## Caractères spéciales

Une séries de caractères spéciales utilise la barre oblique: 
- `\n` le retour a la ligne (newline)
- `\t` le tabulateur

In [18]:
print('bon\njour')

bon
jour

Le tabulateur est souvant utilisé pour aligner le texte en colonnes. La valeur par défaut est de 8 caractères.

In [23]:
print('x\ty')
print('12\t1.2')
print('13\t1.34')

x	y
12	1.2
13	1.34

## Concatenation (`+`) et répétion (`*`)

Les opérateurs d'addition et multiplication ont une autre signification si ils sont appliqué avec un texte: 

- `+` est l'opérateur de concaténation
- `*` est l'opérateur de répétition

In [6]:
'bon' + 'jour', 'ha' * 5

('bonjour', 'hahahahaha')

Addtion de nombres et concaténation de texte

In [10]:
10 + 5, '10' + '5'

(15, '105')

Multiplication de nombres et répétition de texte

In [16]:
10 * 5, '10' * 5

(50, '1010101010')

## Boucles

In [20]:
for i in range(5):
    print(i, i**2)

0 0
1 1
2 4
3 9
4 16

In [22]:
for c in 'python':
    print(c)

p
y
t
h
o
n

In [6]:
[c for c in 'Monty Python' if c.isupper()]

['M', 'P']

In [2]:
s = 'Monty Python'
d = {}
for c in s:
    d[c] = d.get(c, 0) + 1
d

{'M': 1, 'o': 2, 'n': 2, 't': 2, 'y': 2, ' ': 1, 'P': 1, 'h': 1}